<div class="page-wrapper offer">
  <h3 class="pink-header">oferta</h3>
  <p>Oferujemy pełen zakres usług, takich jak projekty graficzne, reklama, projektowanie
    tożsamości wizualnej, materiałów do druku oraz projekty personalizowane.
    Poniżej znajdują się trzy podstawowe pakiety, zachęcamy cię do zapoznania się
    z nimi. Jeżeli masz już jakiś projekt na myśli, bardzo chętnie się z nim zapoznamy!
    Skontaktuj się z nami <span class="pink">tutaj.</span></p>
  <!--second paragraph-->
  <p>Żeby poznać więcej <span class="bold">detali o pakietach i cenach </span> wyślij nam wiadomość
    <span class="pink">tutaj,</span>
  a my wyślemy Ci <span class="bold">"7AM design studio - SZCZEGÓŁY"</span> </p>
  <h4>pakiet pełny ></h4>
  <h4>pakiet pojedynczy ></h4>
  <h4>coś innego ></h4>

</div>
