<div class="page-wrapper singlePackage">
  <h3 class="pink-header">{{'single-title' | translate}}</h3>
  <p class="mainText">{{'single-des' | translate}} </p>
  <p class="bold">{{'single-ex' | translate}}</p>

  <img src="../assets/images/back.png" class="goBack"  routerLink="/our-offer">

</div>
