.fullPackage{
  div{
    p{
      margin: 0;
      &.bold{
        font-weight: bold;
        margin-top: 10px;
      }
    }
    position: relative;

    .mainText{
      line-height: 31px;
      margin-top: 1em;
    }
  }

}
