<div class="page-wrapper fullPackage">
  <div>
    <h3 class="pink-header">{{'FULL PACKAGE' | translate}}</h3>
    <p class="mainText">{{'full-des' | translate}}</p>

    <p class="bold">{{'Visual Identity:' | translate}}</p>
    <p>{{'Color palette, typeface, page layouts, logo' | translate}}</p>

    <p class="bold">{{'Website:' | translate}}</p>
    <p>{{'Responsive layout: for mobile, tablet, desktop, easily editable content' | translate}}</p>

    <p class="bold">{{'Business card:' | translate}}</p>
    <p>{{'Design based on Visual Identity' | translate}}</p>

    <p class="bold">{{'Social Media:' | translate}}</p>
    <p>{{'Banners design for Instagram, Facebook etc.' | translate}}</p>

    <p class="bold">{{'Additional print materials:' | translate}}</p>
    <p>{{'Such as: posters, leaflets, stickers, catalogs, folders, business papers' | translate}}</p>
  </div>


  <img src="../assets/images/back.png" class="goBack"  routerLink="/our-offer">

</div>
