@import "../../styles/general";

.projects{
  display: flex;
  align-items: center;
//  border: 1px solid deeppink;
  padding: 0 !important;
  carousel{
    width: 100%;
    max-width: 1200px;
    padding: 20px 30px;

    height: calc(100vh - 133px);
    padding-top: 0;
    //border: 1px solid red;

  }

 /// padding: 0 !important;
  .carousel-holder{
  //  padding: 0 20px;
  }

  .arrows-holder{
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 2;
    margin-top: calc(50vh - 100px);
    height: 30px;

    img{
      height: 30px;
    }
    .right-arrow{
      transform: rotate(180deg);
    }
  }


}

  @include breakpoint($desktop-up){
    .projects{
      height: 100vh;
      max-width: 100vw !important;
      width: calc(100vw - 420px);
    //  border: 1px solid deeppink;
      //min-height: 100vh;

   }
  }
