@import "../../../node_modules/hamburgers/dist/hamburgers.css";
@import "../../styles/general";

$pinkColor : #ff00f6;
$blackColor : #0c0c0c;
$whiteColor : #ffffff;
$poppis     :  'Poppins', sans-serif;


:focus{
    outline: none;
}
.top-nav{
  &.active{
    .languages{
      display: none;
    }
  }
  .languages{
    position: absolute;
    top: 90px;
    right: 32px;
    cursor: pointer;

    .lang{
      color: #c9c9c9;
      &:hover{
        color: $pinkColor;

      }

    }
  }
  .hamburger{
    padding: 0;

  }
  .hamburger-inner{
    background-color: $pinkColor;

    &:before{
      background-color: $pinkColor;

    }
    &:after{
      background-color: $pinkColor;
    }
  }
  &--header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    background-color: $blackColor;
    height: 90px;
    img{
      cursor: pointer;
    }
  }


  .logo{
    height: 30px;
  }
  .burger{
    height: 20px;
  }

  &--extend{
    margin-top: -1px;
    height: 0;
    background-color: $blackColor;
    transition: height 0.25s ease-in;
    overflow: hidden;
    .socialholder{
      display: flex;
      justify-content: center;
      height: 50px;
      align-self: center;
      margin-top: 30px;
      .logo-margin{
        margin-right: 8px;
      }
      .insta-icon{
        cursor: pointer;
        height: 42px;
        width: 40px;
        background-size: cover;
        background-image: url("../../assets/images/navigation/insta_icon.png");
      }
      .fb-icon{
        cursor: pointer;
        height: 42px;
        width: 40px;
        background-size: cover;
        background-image: url("../../assets/images/navigation/fb_icon.png");
        margin-left: 10px;
      }

    }
    &.active{
      height: calc(100vh - 90px);
    }
    ul{
      text-align: center;
      margin: 0;
      list-style: none;
      font-weight: bold;
      padding: 20px 0 0 0;

      li{
        padding: 5px 0;
        font-size: 1.4rem;
        color : $whiteColor;
        transition: color 1s; /* For modern browsers */
        &.active{
          color: $pinkColor;
        }
        &:hover{
          color: $pinkColor;
          cursor: pointer;
        }
      }

    }


  }

}

@include breakpoint($desktop-up){
  top-nav{
    //background-color: $blackColor;

  }
  .top-nav{
    height: 100%;
    width: 400px;
    padding: 0;
    background-color: $blackColor;
    &.active{
      .languages{
        display: block;
      }
    }
    .languages{
      top: 20px;
      right: 20px;
    }

    .logo{
      height: 50px;
      margin-top: 60px;
    }
    &--header{
      padding: 40px 0 0 60px;
    }
    .hamburger{
      display: none;
    }

      &--extend{
        display: block;
        height: auto;;
        padding-left: 60px;
        margin-top: 0;
        &.active{
          height: auto;
        }
        ul{
          padding-top: 40px;
          li{
            font-size: 1.2rem;
            line-height: 2.1rem;
            padding: 0;

          }
          text-align: left;
        }

        .socialholder{
          justify-content: flex-start;
          margin-top: 160px;
          .insta-icon{
            background-image: url("../../assets/images/navigation/desktop/instagram.png");
            &:hover{
              background-image: url("../../assets/images/navigation/desktop/instagram_hover.png");
            }
          }
          .fb-icon{
            background-image: url("../../assets/images/navigation/desktop/facebook.png");
            &:hover{
              background-image: url("../../assets/images/navigation/desktop/facebook_hover.png");
            }
          }

        }

    }

  }

}
