<div class="top-nav"  [ngClass] = "navBurger ? 'active' : ''">
  <p class="languages">
    <span class="lang" (click)="changeLang('en')" angulartics2On="click" angularticsCategory="menuLanguageClick" angularticsEvent="en" >en |</span>
    <span class="lang" (click)="changeLang('pl')" angulartics2On="click" angularticsCategory="menuLanguageClick" angularticsEvent="pl" >pl</span></p>

  <!--<router-outlet></router-outlet>-->

  <!--logo-->
  <div class="top-nav--header">
    <img src="../../assets/images/logo.png" class="logo" routerLink="" >
    <!--burger-->
    <!--<img src="../../assets/images/menu.png" class="burger">-->
    <button class="hamburger hamburger--collapse" type="button" (click)="openBurger()" [ngClass]="navBurger ? 'is-active' : ''">
    <span class="hamburger-box">
      <span class="hamburger-inner"></span>
    </span>
    </button>
  </div>


  <!--navigation extend-->
  <div class="top-nav--extend" [ngClass] = "navBurger ? 'active' : ''">
    <ul id="navUl" (click)="navBurger = !navBurger" >
      <li routerLink="/" id="home" angulartics2On="click" angularticsCategory="menuClick" angularticsEvent="home" >{{'home' | translate}}</li>
      <li routerLink="/our-offer" routerLinkActive="active" angulartics2On="click" angularticsCategory="menuClick" angularticsEvent="offer">{{'offer' | translate}}</li>
      <li routerLink="/what-do-we-do" routerLinkActive="active" angulartics2On="click" angularticsCategory="menuClick" angularticsEvent="what do we do">{{'what do we do' | translate}}</li>
      <li routerLink="/projects" routerLinkActive="active" angulartics2On="click" angularticsCategory="menuClick" angularticsEvent="projects">{{'projects' | translate}}</li>
      <li routerLink="/our-story" routerLinkActive="active" angulartics2On="click" angularticsCategory="menuClick" angularticsEvent="our story">{{'our story' | translate}}</li>
      <li routerLink="/contact" routerLinkActive="active" angulartics2On="click" angularticsCategory="menuClick" angularticsEvent="contact">{{'contact' | translate}}</li>
    </ul>
    <div class="socialholder">
      <a  angulartics2On="click" angularticsCategory="menuSocialClick" angularticsEvent="facebook" target="_blank" href="https://www.facebook.com/sevenamstudio" class="logo-margin">
        <div class="fb-icon"></div>
      </a>
      <a angulartics2On="click" angularticsCategory="menuSocialClick" angularticsEvent="instagram" target="_blank" href="https://www.instagram.com/sevenamstudio/">
        <div class="insta-icon"></div>
      </a>
    </div>
  </div>
</div>
