@import "colours";
@import "~breakpoint-sass";

$desktop-up : 1000px;
$medium-up : 750px;


//styles for headers
h3{
  margin: 0;
  font-size: 1.5rem;
  &.pink-header{
    color: $pinkColor;
  }
}
h4{
  margin: 0;
  font-size: 1.25rem;
  text-transform: uppercase;
  color: $pinkColor;
  line-height: 3rem;
  &.margin-bottom{
    margin-bottom: 60px;
  }

}
//page wrapper
.page-wrapper{
  padding: 30px 30px 0 30px;
  text-align: justify;
}
.goBack{
  float: right;
  margin-top: 10px;
  margin-bottom: 65px;
  height: 28px;
  width: 27px;
  cursor: pointer;
}

.spinner {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  margin-bottom: 35px;
  background-color: #ff00f6;

  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
      opacity: 0;
    }
}

//general styles for p
p{
  font-size: 1rem;
  line-height: 1.8rem;
  &.inline{
    display: inline;
  }
}
@include breakpoint($medium-up){
  .page-wrapper{
    max-width: 750px;
    &.contact{
      max-width: 100%;
    }
    &.projects{
      max-width: 100%;
    }
  }
}
@include breakpoint($desktop-up){
  .page-wrapper{
    padding-top: 113px;
    max-width: 800px;
    &.contact{
      max-width: 800px;
    }
  }
  h4{
    &.margin-bottom{
      margin-bottom: 20px;

    }
  }
  .goBack{
    margin-bottom: 30px;
  }

}
