<div class="page-wrapper contact">
  <div class="contact-wrapper" *ngIf="!isSent">
    <img class="astronaut" src="../assets/images/austronaut.png">

    <h3 class="pink-header">{{'say hello!' | translate}}</h3>
    <p>{{'For business and coffee, please ask here:' | translate}}</p>
    <div class="form">
      <form *ngIf="!isProcessing" [formGroup]="contactForm" (ngSubmit)="onSubmitForm()">
        <input formControlName="name" type="text" placeholder="{{'name' | translate}}" angulartics2On="click" angularticsCategory="contactPage" angularticsEvent="nameInput" >
        <div *ngIf="nameControl.errors && nameControl.touched">
          <p *ngIf="nameControl.errors.required">{{'name-required' | translate}}</p>
          <p *ngIf="nameControl.errors.minlength">{{'name-lenght' | translate}} {{nameControl.errors.minlength.requiredLength}} {{'characters' | translate}}.</p>
        </div>
        <input formControlName="email" class="mail" type="email" placeholder="email" angulartics2On="click" angularticsCategory="contactPage" angularticsEvent="emailInput">
        <div *ngIf="emailControl.errors && emailControl.touched">
          <p *ngIf="emailControl.errors.required">{{'Email is required.' | translate}}</p>
          <p *ngIf="emailControl.errors.pattern">{{'email-pattern' | translate}}.</p>
        </div>
        <textarea formControlName="message" autosize rows="1" type="text" placeholder="{{'message' | translate}}" angulartics2On="click" angularticsCategory="contactPage" angularticsEvent="messageInput"></textarea>
        <div *ngIf="messageControl.errors && messageControl.touched">
          <p *ngIf="messageControl.errors.required">{{'Message is required.' | translate}}</p>
          <p *ngIf="messageControl.errors.minlength">{{'message-minlenght' | translate}} {{messageControl.errors.minlength.requiredLength}} {{'characters' | translate}}.</p>
        </div>
        <button type="submit" class="button" [disabled]="!contactForm.valid" angulartics2On="click" angularticsCategory="contactPage" angularticsEvent="sentButton">{{'send' | translate}}</button>
      </form>
    </div>

    <div class="spinner" *ngIf="isProcessing" ></div>
    <div class="contact--footer">

      <div class="contact--footer--text">
        <h3 class="pink-header">info</h3>
        <p class="bold amparagraph">Sevenam design studio</p>
        <p>{{'Telephone: 91 82 78 16, 52 22 00 49' | translate}}</p>
        <p>Email: info@sevenamstudio.com</p>
        <p class="bold space">{{'We are social:' | translate}}</p>
        <!--image holder-->
        <div class="contact--footer--text--socialMedia">
          <a  target="_blank" href="https://www.facebook.com/sevenamstudio" class="logo-margin" angulartics2On="click" angularticsCategory="contactPage" angularticsEvent="socialFb">
            <div class="social-icon facebook"> </div>
          </a>
          <a target="_blank" href="https://www.instagram.com/sevenamstudio/" angulartics2On="click" angularticsCategory="contactPage" angularticsEvent="socialInsta">
            <div class="social-icon instagram"></div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="thank-you-message" *ngIf="isSent">
    <h3 class="pink-header">{{'thank you!' | translate}}</h3>
    <p>{{'We will get back to you as soon as possible. Have a nice day, cheers!' | translate}}</p>
    <img class="rotated-astronaut" src="../assets/images/astronout-reflection.png">
  </div>


</div>
