@import "../../styles/general";
.contact{
  position: relative;
  .thank-you-message{
    padding-top: 5rem;

    .rotated-astronaut{
      margin-top: 15px;
      float: right;
      margin-right: -30px;
      width: 280px;
    }
  }
  .form{
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    input{
      border: none;
      border-bottom: 1px solid #6d6d6d;
      width: 100%;
      margin-bottom: 20px;
      font-family: 'Poppins';
      padding-left: 10px;
      box-sizing: border-box;

      &:focus{
        outline: none;
      }
      &.mail{
        margin-bottom: 5px;
      }
    }
    p{
      color: red;
      font-size: 13px;
      font-weight: bolder;
    }
    .button{
      border: 1px solid #868686;
      cursor: pointer;
      text-align: center;
      float: right;
      margin-top: 15px;
      height: 35px;
      width: 100px;
      font-family: 'Poppins';
      color: #868686;
      background: none;
      &:hover{
        color: white;
        border: none;
        background-color: $pinkColor;
      }
    }
    textarea{
      width: 100%;
      line-height: 45px;
      background-image: linear-gradient(transparent, transparent 44px, #6d6d6d 0px);
      background-size: 100% 45px;
      border: none;
      overflow: auto;
      outline: none;
      font-family: 'Poppins';
      padding-left: 10px;
      box-sizing: border-box;


    }
  }
  .astronaut{
    position: absolute;
    height: 220px;
    right: 0;
    bottom:  20px;
  }
  p{
    margin: 0;
  }

  &--footer{
    display: flex;
    width: 100%;

    &--text{
      width: 60%;
      height: 100%;
      p{
        margin-bottom: 5px;
        &.amparagraph{
          text-align: left;
        }
        &.bold{
          margin-top: 3px;
          font-weight: bold;

          &.space{
            margin-top: 20px;
            margin-bottom: 10px;
          }
        }
      }
      &--socialMedia{
        height: 83px;

        .social-icon{
          float: left;
          min-height: 40px;
          min-width: 40px;
          background-size: contain;
          cursor: pointer;
          background-repeat: no-repeat;
          &.facebook{
            margin-right: 5px;
            background-image: url("../../assets/images/black_fb_icon.png");
            &:hover{
              background-image: url("../../assets/images/navigation/desktop/facebook_hover.png");
            }
          }
          &.instagram{
            background-image: url("../../assets/images/black_insta_icon.png");
            margin-right: 5px;
            &:hover{
              background-image: url("../../assets/images/navigation/desktop/instagram_hover.png");
            }
          }
        }
      }
    }
  }


}
@include breakpoint($medium-up){
  .contact{
    .thank-you-message{
      text-align: center;
      display: block;
      margin: 0 auto;
      .rotated-astronaut{
        margin-right: 148px;
      }
     }
    }
}

@include breakpoint($desktop-up){
  .contact{
  //  max-width: 800px !important;
    .thank-you-message{
      text-align: left;

      .rotated-astronaut{
        width: 300px;
        margin-right: 0;
      }
    }
  }


}





