@import "../../styles/general";
@import "~breakpoint-sass";
.offer{
  .pink{
    color: $pinkColor;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    a{
      @extend .pink;
      &:visited{
        @extend .pink
      }

    }
  }
  .bold{
    font-weight: bold;
  }
  h4{
    cursor: pointer;
    outline: none;
  }
  .mainText{
    line-height: 31px;
  }

    .pan-jelly{
      background-image: url("../../assets/images/jelly.png");
      height: 300px;
      background-size: contain;
      background-repeat: no-repeat;
      margin: 0 0 60px 0;
      width: 300px;
    }

    .offer-footer-holder{
      display: flex;
      flex-direction: column;
    }

}

@include breakpoint(600px){
  .offer{
    .offer-footer-holder{
      flex-direction: row;
      justify-content: space-between;
      padding-right: 20px;
    }
    .pan-jelly{
      height: 360px;
    }
  }
}
@include breakpoint($desktop-up){
  .offer{

    .pan-jelly{
      background-image: url("../../assets/images/desktop/jellyfish.png");
      max-width: 1000px;
      height: 360px;
      min-width: 200px;
      width: 250px;
      margin-bottom: 0;
    }
  }
}
