<div class="page-wrapper offer">

  <h3 class="pink-header">{{'our offer' | translate}}</h3>
  <p class="inline mainText">{{'offer-des' | translate}}</p>
  <span class='pink' routerLink='/contact' angulartics2On="click" angularticsCategory="offerPage" angularticsEvent="contact">{{'here' | translate}}!</span>

  <!--second paragraph-->
  <p class="mainText">
    {{'To get more' | translate }}
    <span class="bold">{{'details package' | translate}}</span>
    {{'line' | translate}}
    <span class="pink" angulartics2On="click" angularticsCategory="offerPage" angularticsEvent="contactFullOffer" >
      <a href="../../assets/materials/GettingStartedGuide-Sevenam-{{trans.currentLang}}.pdf" target="_blank"> {{'here' | translate}}</a></span>
    {{'will-sent' | translate}}

    <span class="bold">{{'7am design' | translate}}</span>

  </p>
<div class="offer-footer-holder">
  <div class="package-holder">
    <h4 routerLink="/full-package" angulartics2On="click" angularticsCategory="offerPage" angularticsEvent="fullPackage">{{'full package >' | translate}}></h4>
    <h4 routerLink="/single-package" angulartics2On="click" angularticsCategory="offerPage" angularticsEvent="singlePackage">{{'single package >' | translate}}</h4>
    <h4 routerLink="/something-else" angulartics2On="click" angularticsCategory="offerPage" angularticsEvent="somethingElse">{{'something else? >' | translate}}</h4>
  </div>

  <div class="pan-jelly"></div>
</div>

</div>
