@import "../../styles/general";
$pinkColor : #ff00f6;

.welcome-content{
  .checkout{
    display: inline;
  }

  &--image{
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
    margin-top: 30px;
  }
  .pink{
    color: $pinkColor;
    font-weight: bold;
    cursor: pointer;
  }
  .mainText{
  //  line-height: 31px;
  }

}
@include breakpoint($desktop-up){
  .welcome-content{
    &--image{
      max-height: 380px;
      float: right;
      margin-top: -10px;
    }
    .pink-header{
      float: left;
      margin-right: 8px;
    }

  }
}
