<div class="page-wrapper welcome-content">
  <h3 class="pink-header">{{'hi! we are' | translate}}</h3>
  <h3>Sevenam design studio.</h3>
  <p class="mainText">{{'home-des' | translate}}</p>
  <p class="mainText">{{'home-sec-des' | translate}}</p>

  <p class="checkout">{{'check-out' | translate}}</p>
  <span class="pink" routerLink="/projects" angulartics2On="click" angularticsCategory="homePage" angularticsEvent="projects" >{{'here' | translate}}.</span>
  <img src="../assets/images/front_picture.png" class="welcome-content--image">
</div>
