<div class="page-wrapper somethingElse">
  <h3 class="pink-header">{{'SOMETHING ELSE?' | translate}}</h3>
  <p class="mainText">{{'smt-else' | translate}}</p>

  <p class="bold">{{'Visual Identity + Logo + Website' | translate}}</p>

  <p class="bold">{{'Business card + Logo' | translate}}</p>

  <p class="bold">{{'Website + Social media banners' | translate}}</p>

  <p class="bold">{{'Poster + Stickers' | translate}}</p>

  <p class="bold">{{'Custom Illustrations' | translate}}</p>

  <p class="bold">{{'Anything you choose + Anything you choose' | translate}}</p>

  <img src="../assets/images/back.png" class="goBack"  routerLink="/our-offer">

</div>
