@import "../../styles/general";

//dots



.ngxcarousel{
  display: block;
  width: 100%;
  max-height: 100vh;
 // delete
  max-height: calc(100vh - 133px);
 // overflow: hidden;
  .leftRs{
    background-image: url("../../assets/images/carousel/left.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    box-shadow: none;
    width: 30px;
    left: -26px;
    cursor: pointer;


  }
  .rightRs{
    background-image: url("../../assets/images/carousel/arrow.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    box-shadow: none;
    width: 30px;
    right: -31px;
    cursor: pointer;
  }

}
.bannerStyle {
  min-height: 300px;
  background-color: #ccc;
  text-align: center;
}
.item{
  cursor: pointer;
  .project-holder{
    padding: 45px 10px;

  }
 // padding: 20px 20px;
}

.project{
  height: calc(100vh - 100px);
  //delete
  height: calc(100vh - 163px);

  width: 100%;
  background-image: url("../../assets/images/carousel/123.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 -400px;

  &.one{
    background-image: url("../../assets/images/carousel/banana.jpg");
  }
  &.two{
    background-image: url("../../assets/images/carousel/bug.jpg");
  }
  &.three{
    background-image: url("../../assets/images/carousel/posters.jpg");
  }
  &.four{
    background-image: url("../../assets/images/carousel/posters3.jpg");
  }
  &.five{
    background-image: url("../../assets/images/carousel/sketches.jpg");
  }

}
@include breakpoint($desktop-up){
  .project{
    background-position: 0 -100px;

  }
  .item{
    cursor: pointer;
    .project-holder{
    padding: 20px 10px;

    }
  }
}
