<div class="ngxcarousel banner" carousel
     [inputs]="carouselBanner"
     (carouselLoad)="carouselBannerLoad($event)">

  <div class="ngxcarousel-inner">
    <div class="item">
      <div class="project-holder">
        <div class="{{carouselBannerItems[0].class}}" [routerLink]="['/project/', carouselBannerItems[0].param]" angulartics2On="click" angularticsCategory="projectClick" angularticsEvent="booky-app"></div>
      </div>
    </div>

      <div class="item">
          <div class="project-holder">
            <div class="{{carouselBannerItems[1].class}}" [routerLink]="['/project/', carouselBannerItems[1].param]" angulartics2On="click" angularticsCategory="projectClick" angularticsEvent="otis"></div>
          </div>
      </div>

      <div class="item">
          <div class="project-holder">
            <div class="{{carouselBannerItems[2].class}}" [routerLink]="['/project/', carouselBannerItems[2].param]" angulartics2On="click" angularticsCategory="projectClick" angularticsEvent="the-bug"></div>
          </div>
      </div>

      <div class="item">
          <div class="project-holder">
              <div class="{{carouselBannerItems[3].class}}" [routerLink]="['/project/', carouselBannerItems[3].param]" angulartics2On="click" angularticsCategory="projectClick"  angularticsEvent="geometry-and-numbers"></div>
          </div>
      </div>

      <div class="item">
          <div class="project-holder">
            <div class="{{carouselBannerItems[4].class}}" [routerLink]="['/project/', carouselBannerItems[4].param]" angulartics2On="click" angularticsCategory="projectClick" angularticsEvent="before-you-say-anything"></div>
          </div>
      </div>

      <div class="item">
          <div class="project-holder">
              <div class="{{carouselBannerItems[5].class}}" [routerLink]="['/project/', carouselBannerItems[5].param]" angulartics2On="click" angularticsCategory="projectClick"  angularticsEvent="sketch-the-world"></div>
          </div>
      </div>


  </div>

  <button class='leftRs'></button>
  <button class='rightRs'></button>

</div>

