<div class="page-wrapper what">
  <div class="what-wrapper">
    <h3 class="pink-header">{{'what do we do?' | translate}}</h3>
    <p class="mainText">{{'what-wedo' | translate}}
      <span class="pink" routerLink="/our-offer" angulartics2On="click" angularticsCategory="whatdowedoPage" angularticsEvent="fullOffer">
        <a href="../../assets/materials/GettingStartedGuide-Sevenam.pdf" target="_blank">
          {{'here' | translate}}.</a></span>  </p>
    <p class="mainText">{{'what-des' | translate}}</p>
  </div>
 <div class="pan-ananas"></div>
</div>
<!--<span class='pink' routerLink='/our-offer'>here.</span>-->
