@import "~breakpoint-sass";
@import "../../styles/general";
$pinkColor : #ff00f6;
.what{
  .what-wrapper{
  }
  img{
    float: right;
    max-width: 100%;
    max-height: 100%;
  }
  .pink{
    color: $pinkColor;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    a{
      @extend .pink;
      &:visited{
        @extend .pink
      }

    }
  }
  .mainText{
    line-height: 31px;
  }
  .pan-ananas{
    background-image: url("../../assets/images/ananas.png");
    height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    width: 200px;
  }
}

@include breakpoint($desktop-up){
  .what{
    display: flex;
    .pan-ananas{
      background-image: url("../../assets/images/desktop/ananas.png");
      max-width: 1000px;
      min-width: 250px;
      height: 500px;

    }
  }
}
