/* You can add global styles to this file, and also import other style files */
body{
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
.banner .ngxcarouselPoint li{
  background: #ff00f6 !important;
}
.banner .ngxcarouselPoint{
  bottom: -30px !important;

}
.sb-buttons{
  margin-top: -150px;
}
.sb-button button{
  background: transparent;
}

@media (min-width: 1000px){
  body{
    position: relative;
    display: flex;
    min-height: 100vh;
  }
}
