@import "~breakpoint-sass";
@import "../../styles/general";

.story{

  .pan-flaming{
    background-image: url("../../assets/images/flamingo.png");
    height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    width: 300px;
  }

}



@include breakpoint($desktop-up){
  .story{
    display: flex;
    .pan-flaming{
      background-image: url("../../assets/images/desktop/flamingo.png");
      max-width: 1000px;
      min-width: 300px;
      height: 500px;

    }
  }
}
