<div class="page-wrapper story">

  <div class="story-wrapper">
    <h3 class="pink-header">{{'our story' | translate}}</h3>
    <p>{{'our-story-des' | translate}}</p>
      <p>{{'our-story-sec-des' | translate}}</p>
  </div>
  <div class="pan-flaming">

  </div>
</div>
