<div class="project-static {{pictureName}}"  [ngClass]="{'loading' : !isLoaded}">
  <div class="project-static--holder" [ngClass]="{'show' : isLoaded}">

    <div class="text-holder">
      <h1>{{pictureName+'-title' | translate}}</h1>
      <p  innerHTML="{{pictureName+'-des' | translate}}"></p>
    </div>
    <img src="../../../assets/images/projects/{{pictureName}}.jpg" (load)="dosomething()">

    <share-buttons class="custom-buttons"
                   [defaultStyle]="false"
                   [facebook]="fbTemp"
                   [reddit]="false"
                   [stumbleUpOn]="false"
                   [twitter]="false"
                   [google]="false"
                   [pinterest]="false"
                   [linkedIn]="false"
                   [tumblr]="false"
                   [whatsApp]="false"

    ></share-buttons>
  </div>

  <div class="spinner" [ngClass]="{'hide' : isLoaded}" ></div>

</div>
