@import "../../../styles/general";

.project-static{
  display: flex;
  background-color: #dbdbdb;
  float: left;
  text-align: center;
  min-height: calc(100vh - 90px);
    .sb-buttons{
      background: pink;
    }



  &.loading{
    width: 100vw;
  }

  &.otis{
    background-color: #dbdbdb;
  }
  &.booky-app{
    background-color:  #efefef;
  }
  &.geometry-and-numbers{
    background-color: #232323;
    .text-holder{
      color: white;
    }
  }
  &.before-you-say-anything{
    background-color: #cacaca;
  }
  &.the-bug{
    background-color: #e2e2e2;
  }
  &.sketch-the-world{
    background-color: #ebebed;
  }

  &--holder{
    display: none;

    &.show{
      display: block;
    }
  }

  .spinner{
    align-self: center;
    &.hide{
      display: none;
    }
  }
  .text-holder{
    padding: 60px 20px 0 20px;
    max-width: 700px;
    margin: 0 auto;
    h1{
      margin: 0;
      line-height: 1.2;
      font-size: 1.5rem;
    }
    p{
      font-size: 0.8rem;
      line-height: 1.5rem;
    }

  }

  img{
//    max-height: 100%;
    max-width: 100%;
  }
}
@include breakpoint($desktop-up){
  .project-static{
    min-height: 100vh;

    &--holder{
      max-height: 100vh;
      width: calc(100vw - 400px);

      overflow-y: scroll;
    }
    &.loading{
      width: calc(100vw - 400px);

    }
    .text-holder{
      padding-top: 90px;
    }

    }

}
